.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
}

.footer__container {
  text-align: center;
}
